@require "../src/grid"


body
	padding-top 10px
	font-family sans-serif
	font-size 18px

.example
	background #eee
	padding 10px
	margin-bottom 10px
	border 1px solid #ccc
	&:hover
		background darken(#eee, 7%)

.margins
	margin 10px 0